.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 'navbar navbar navbar navbar' 'section section section aside' 'footer footer footer footer';
}

.item {
    background-color: yellow;
    border: 3px solid black;
    padding: 12px 32px;
}

#navbar {
    grid-area: navbar;
}

#section {
    grid-area: section;
}

#aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}