.box {
    background-color: tomato;
    color: white;
    font-size: 22px;
    /* display: none; */
}

@media (max-width:300px) {
    #box-1 {
        display: block;
        background-color: violet;
    }
}

@media (min-width:500px) and (max-width:300px) {
    #box-2 {
        display: block;
        background-color: blue;
    }
}