.grid {
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    grid-auto-rows: 2fr;
    /* grid-template-columns: 1fr 4fr 2fr; */
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 1rem;
}

.box {
    background-color: tomato;
    border: 2px solid black;
}