        .box {
            display: flex;
            background: brown;
            border: 2px solid gray;
            border-radius: 8px;
            height: 10vh;
            width: 8vw;
            justify-content: center;
            align-items: center;
            transform: all 1s ease-in-out;
        }
        
        .box:hover {
            transform: translate(50px, 100px);
            /*transform: rotate(45deg);
            */
            /*transform: scale(2);
            */
            ;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        .container {
            display: flex;
            background-color: red;
            justify-content: center;
            height: 80vh;
            width: 80vw;
            align-items: center;
        }